@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

/* banner part styles goes here */
.banner{
    background-image: url(../images/banner/banner3.png);
    min-height: 808px;
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: cover;
}
.banner .banner-info {
    text-align: right;
    width: 35%;
    position: relative;
    left: 50%;
    padding: 94px 0;
    color: white;
}
.banner .banner-info h2{
    font-weight: 700;
    font-size: 65px;
    line-height: 76.25px;
}
.banner .banner-info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.banner .banner-info button {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    color: #005FAC;
    margin-top: 32px;
}